.header .bg-dark{
  background-color: transparent !important;
}

.header .navbar-dark .navbar-nav .nav-link{
    margin: 5px;
    color: #fff;
}
.header .navbar-dark .navbar-nav .nav-link:hover{
    background: #FF8C11;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.header .carousel-indicators{
    margin-bottom: 40px;
}
.carousel-inner{
    height: 100%;
}
/*****servicios**/

.boxed-white {
	background: #fff;
	padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.boxed-grey {
	background:rgba(236,236,251,0.9);
	padding: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding: 20px;
}
.boxed-grey:hover{
    background:url('../img/slide.jpg');
    background-size: cover;
    color: aliceblue;
    transition:all .5s ease-in-out;
   /* filter: opacity(.5);*/
}

.team h5 {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

/**** 3d servicios*********/
.cardWrapper{
margin: 10px;
  height:300px;
  position:relative;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
}

.cardFace{
 position:absolute;
}

.front{
  background-color:rebeccapurple; 
     
}

.back{
  background-color:#F4F4F4; 
  
}
.back .contenido-back{
    padding: 20px;
}
.back .contenido-back h5{
 color:#FF8C11;
 padding-bottom: 5px;
}



.moreInfo{
  padding:10px;
  color:white;
  line-height:24px;
  
}
/******end 3d*****/

/****** nosotros *****/
.nosotros{
    background: url("../img/nos.jpg");
    background-size: cover;
}
.box-naranja {
	background: #FF8C11;
	padding: 30px;
    color: #fff;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
}
.contacto{
    background: url('../img/office.jpg');
    background-size: cover;
}
.contacto .form-contacto{
    background: #ECECFB;
    margin-top: 200px;
    margin-bottom:0px;
    padding: 30px;
}

hr.style15 {
	border-top: 2px solid #7A7A7A;
	text-align: center;
}
hr.style15:after {
	content: 'PORTAFOLIO';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 30px;
	background: #fff;
	color: #7A7A7A;
	font-size: 18px;
}
hr.style-about{
    border-top: 2px solid #fff;
	text-align: center;
}
hr.style-about:after{
    content: 'NOSOTROS';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 30px;
	background: #FF8C11;
	color:#fff ;
	font-size: 18px;
}
hr.subhr{
    border-top: 2px solid #FF8C11;
	width: 100px;
}
hr.subhrc{
    border-top: 2px solid #FF8C11;
	width:50px;
    margin-left: 0px;
    margin-top: 5px
}


